body{
    font-family: Arial, sans-serif;
}

img{
    width: auto;
    height: 100px;
}

.main{
    display: flex;
    
}

.secondary{
    display: flex;
    flex-direction: column;
}